server {
    listen 80;
    server_name default_server;

    root /apps/nfsense/public;
    index portal.html;

    location / {
        try_files $uri $uri/ =404;
    }
        location = /generate_204 {
        return 302 http://10.10.0.12/;
    }
    location /welcome {
        root /apps/nfsense/public;
        try_files /welcome.html =404;
    }

    location /voucher {
        proxy_pass http://10.10.0.12:81/voucher;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
 proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /free-internet {
        proxy_pass http://10.10.0.12:81/free-internet;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
 proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /send-help {
        proxy_pass http://10.10.0.12:81/send-help;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
 proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
